body{

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color:#E6E6F1;
    margin: 0;
   display:flex;
   align-items:center;
   justify-content:center;
   min-height:100vh;
   padding: 0 16px;

}

*{
    box-sizing:border-box;
}

.card{
    background-color: white;
    max-width:600px;
    /*scrollbarnahiatahai*//*height:600px;
    */margin-inline:auto;
    padding:24px;
    border-radius:16px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    -ms-border-radius:16px;
    -o-border-radius:16px;
}

.yo{
    margin-top:0px;
    font-weight: 600;
    color:#7447D7

}

.paragraph{
    margin-bottom:0px;
    font-weight:400;
    font-size:15px;
    color:#667085;
}

h1{
    font-size:28px;
    font-weight:600;
    margin:0px 0px;

}

.image-grid{
    display:grid;
    /* height:200px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    column-gap:16px;
    margin-top:19px;
}

img{
    width:100%;
}

.image-2{
   grid-row-start:1;
   grid-row-end:3;
   grid-column-start:2
}

.image-3{
    align-self:end;
    /* align-self:flex-end; */
}

@media(max-width:400px){
    .image-grid{
                 grid-template-columns:1fr;
            grid-template-rows:1fr 1fr 1fr;
            column-gap:2px;
            margin-bottom:1px;
            display:flex;
            flex-direction: column;
            gap:5px;
        }

        .image-2{
            grid-row-start:2;
          
            grid-column-start:1;
        }


         img{
            margin:0px;
            padding: 0;

        } 
    
}